---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* Give the address the same font as the rest of the page */
.profile .more-info {
  font-family: inherit;
}
/*Reduce size social media icons*/
.social .contact-icons {
  font-size: 3rem;
}
/*Reduce space at the top of all pages*/
body.fixed-top-nav {
  padding-top: 45px;
}
